h1{
  color:white;
}

body{
  background-color:#000000;
  color:#FFFFFF;
  font-family:Courier New, Courier, monospace;
  font-size: :12px;
  font-weight: normal;
  line-height: 1.6em;

}

a{
  text-decoration: none;
  color:#FFFFFF
}

.button{
  background-color: #FFFFFF;
  color:#000000;
  padding: 10px 15px;
  border: none;
}

.button:hover{
  background:purple;
  color:white;
}
